.box::after {
    content: " - askdjaskdj";
    color: green;
}

.title::before {
    content: "🔥 ";
    color: red;
}

p::first-letter {
    font-size: 2em;
    color: blue;
}

p::first-line {
    font-weight: bold;
    color: purple;
}

p::selection {
    background-color: yellow;
    color: black;
}

li::marker {
    content: "🔥 ";
    color: red;
}

input::placeholder {
    font-style: italic;
    color: gray;
}